CONTENTSTACK_STACK_API_KEY=''
CONTENTSTACK_ENVIRONMENT=''

# Contentstack delivery access token - used to download Contentstack content
CONTENTSTACK_DELIVERY_TOKEN=''

# Contentstack API region - default to Contentstack North America (NA) region. Change to 'EU' for European region.
CONTENTSTACK_REGION='NA'

# For canary.uniform.app API keys only - remove for uniform.app
UNIFORM_CLI_BASE_URL='https://uniformapp-dev.s3.amazonaws.com/optimize/'

# Uniform downloads the intent data at build time and bakes it into your site so there are no additional required network requests.
UNIFORM_API_KEY='<uniform-optimize-api-key>'

# Set this to enable Google Analytics locally
GA_UA_ID=''
